
#homePage {
    font-family: 'Sora', sans-serif;
    background: linear-gradient(to bottom, rgb(202,73,73), rgb(158,126,123));
    overflow-x: hidden;
}

#contributionPage{
    font-family: 'Sora', sans-serif;
    background: linear-gradient(to bottom, rgb(158,126,123),rgb(202,73,73));
    overflow-x: hidden;
}


#contactPage {
    font-family: 'Sora', sans-serif;
    overflow-x: hidden;
    background: #000000;
    color: #FFFFFF;
}

main {
    padding: 1rem;
}

main img {
    border-radius: 5px;
}

.main-button {
    background-color: rgb(202, 73, 73);
    border-radius: 10px;
    border: solid black 3px;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin: 1.5rem;
    margin-bottom: 0;
}

.main-button:hover {
    background-color: #ff9999; 
    cursor: pointer; 
}

/*Header*/

header {
    background: rgb(14, 14, 12);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    flex: 1;
    border: 3px;
}

.headerimg {
    display: flex;
    flex: 1;
    max-width: 100%;
    min-width: 350px;
    height: auto;
}


.logo {
    height: auto;
    max-width: 250px;
    margin-left: 1rem;
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    z-index: 1;
}

.nav-list {
    display: flex;
    list-style-type: none;
    z-index: 1;
}

.nav-list li {
    margin-right: 1.5rem;
    font-size: 20px;
    z-index: 1;
}

/*Footer*/


/*Home*/

.flex-grid-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.flex-grid-two .column {
    flex: 1;
    background-color: rgb(237, 95, 81);
    padding: 1rem;
    border-radius: 5px;
    border: solid black 2px;
    max-width: 100%;
    width: 570px;
    height: 570px;
}

/* First part of Home */
.flex-grid-two h1 {
    font-size: 70px;
}

.flex-grid-two h2 {
    font-size: 40px;
    font-weight: 400;
}

main .main-button {
    margin: 0;
}


.girl-VR {
    width: 330px;
    height: auto;
    transform: scaleX(-1);
}

/* Second part of Home */

.flex-grid-three {
    display: flex;
    justify-content: space-between;
    gap: none;
    background-color:  rgb(14, 14, 12);
}

.flex-grid-three .column-other {
    padding: 0.3rem;
    border-radius: 5px;
}

.inside-column {
    border: solid black;
    padding: 0.5rem;
    border: 5px;
    color: #FFFFFF;
    background-color: #000000;
    height: 40vh;
}

@media screen and (max-width: 1000px) { 
    .inside-column {
    height: 55vh;
}
}



/* Third part of Home */

.text-news {
    font-size: 32px;
    font-weight: 700;
}

.astronaut,
.girl-machine {
    max-width: 567px;
    height: auto;
}

/* Fourth part of Home */

.flex-grid-two-dark {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border-radius: 5px;
    align-items: center
}

.flex-grid-two-dark .column-dark {
    flex: 1;
    color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 5px;
}

.flex-grid-two-dark h3 {
    font-size: 32px;
    text-decoration: underline;
}

.flex-grid-two-dark p {
    font-size: 24px;
    font-weight: 200;
}

.night{
    max-width: 320px;
    max-height: auto;
}

/* Fifth part of Home */

.home-text {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 3rem;
}

/* Sixth part of Home */


.flex-grid-two .column-educate {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    padding: 1.5rem;
    border: solid black 2px;
    border-radius: 5px;
    justify-content: center;
    min-width: 380px;
}

.column-educate h3 {
    font-size: 28px;
    text-decoration: underline;
}

.learn {
    width: 350px;
    height: auto;
}

.YoungStarsLogo {
    width: 350px;
    height: auto;
    justify-content: center;
    align-items: center;
}

/* Last part of Home */

.last-part-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home-text-two {
    font-size: 32px;
    font-weight: 700;
    margin-top: 2rem;
}

.explore {
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
}

.whale {
    max-width: 900px;
    height: auto;
}

/*Visit*/






/*Exhibitions*/





/*Contribution*/

#contributionPage .column {
    background: rgb(252, 216, 216);
    border-radius: 2px;
    border: solid 2px;
    margin-bottom: 1rem;
    padding: 2rem;
}

#contributionPage h3 {
    text-decoration: underline;
}

#contributionPage p {
    font-weight: 400;
}

.price-button {
    padding: 10px 20px;
    background: #FFFFFF; 
    color: #000000; 
    border: #000000 solid;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.price-button:hover,
#oamount:hover {
    background-color: rgb(202, 73, 73); 
}

#oamount {
    padding: 10px 20px;
    width: 80px;
    border: #000000 solid;
    margin-top: 0.5rem;
}

.select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: row;
}

#cvv,
#month,
#year {
    width: 70px;
    padding: 0.1rem;
    margin-right: 0.5rem;
}

#get-involved img{
    width: 400px;
}

#contributionPage .flex-grid-three {
    background: rgb(252, 216, 216);
    border: solid #000000 2px;
}

#contributionPage .flex-grid-three .column {
    border: 0;
}




/*Educate*/


.researcher {
    width: 535px;
    border-radius: 5px;
}


/*About Us*/

.exhibits {
    width: 707px;
    height: auto;
    align-items: center;
}

/*Contact Us/Visit*/

.museum {
    margin-bottom: 1rem;
    width: 700px;
}

#services {
    background-image: url(/images/luke-ellis-craven-400722.jpg);
    background-size:cover; 
    background-position: center;
    color: #000000;
    padding: 1.5rem;
    margin-top: 1rem;
}

/*Contact Us Form*/

.flex-grid {
    padding: 0.5rem;
}

.flex-grid .column {
    display: flex;
    flex: 1;
    background: rgb(14, 14, 12);
    padding: 1rem;
    border-radius: 5px;
    border: solid black 2px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.flex-grid h2 {
    font-size: 40px;
    color: #FFFFFF;
}

.flex-grid p {
    font-size: 20px;
    text-decoration: solid;
}

input[type="text"] {
    margin-bottom: 1rem;
    font-size: 20px;
    border-radius: 5px;
}

input[type="message"] {
    font-size: 20px;
    border-radius: 5px;
    height: 150px;
}

input[type="submit"] {
    color: #000000; 
    text-align: center; 
    display: inline-block;
    font-size: 20px; 
    border-radius: 5px; 
    cursor: pointer;
    margin-left: 26%;
    width: 100px;
    border-radius: 20px;
    border: solid black;
    background-color: #FFFFFF;
}



/*Privacy Policy/Terms&Conditions*/



