
body {
    font-family: 'Sora', sans-serif;
    background: linear-gradient(to bottom, rgb(202,73,73), rgb(158,126,123));
    overflow-x: hidden;
}

main {
    padding: 1rem;
}

/*Header*/

header {
    background: rgb(14, 14, 12);
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*Footer*/







/*Home*/


.flex-grid-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.flex-grid-two .column {
    flex: 1;
    background-color: rgb(237, 95, 81);
    padding: 1rem;
    border-radius: 5px;
    border: solid black 2px;
    min-width: 380px
}

/* First part of Home */
.flex-grid-two h1 {
    font-size: 70px;
}

.flex-grid-two h2 {
    font-size: 40px;
    font-weight: 400;
}

.flex-grid-two button {
    background-color: rgb(202, 73, 73);
    border-radius: 10px;
    border: solid black 3px;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.girl-VR {
    width: 330px;
    height: auto;
    transform: scaleX(-1);
    border-radius: 5px;
}

/* Second part of Home */

.flex-grid-three {
    display: flex;
    justify-content: space-between;
    gap: none;
    background-color:  rgb(14, 14, 12);;
}

.flex-grid-three .column-other {
    padding: 1rem;
    border-radius: 5px;
}

.inside-column {
    border: solid black;
    padding: 0.5rem;
    border: 5px;
    color: #FFFFFF;
    background-color: #000000;
    height: 25vh;
}


/* Third part of Home */

.text-news {
    font-size: 32px;
    font-weight: 700;
}

.astronaut,
.girl-machine {
    max-width: 567px;
    border-radius: 5px;
}

/* Fourth part of Home */

.flex-grid-two-dark {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    border-radius: 5px;
    align-items: center
}

.flex-grid-two-dark .column-dark {
    flex: 1;
    color: #FFFFFF;
    padding: 2.5rem;
    border-radius: 5px;
}

.flex-grid-two-dark h3 {
    font-size: 32px;
    text-decoration: underline;
}

.flex-grid-two-dark p {
    font-size: 24px;
    font-weight: 200;
}

.night{
    max-width: 320px;
    max-height: auto;
    border-radius: 5px;
}

/* Fifth part of Home */

.home-text {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin: 3rem;
}

/* Sixth part of Home */


.flex-grid-two .column-educate {
    flex: 1;
    flex-direction: row;
    background-color: white;
    padding: 1.5rem;
    border: solid black 2px;
    border-radius: 5px;
    align-items: center;
    min-width: 380px
}

.column-educate h3 {
    font-size: 28px;
    text-decoration: underline;
}

.learn {
    width: 623px;
    height: auto;
    border-radius: 5px;
}

.YoungStarsLogo {
    
}

.teacher {
    width: 370px;
    border-radius: 5px;
}

.researcher {
    width: 535px;
    border-radius: 5px;
}

/* Last part of Home */

.last-part-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home-text-two {
    font-size: 32px;
    font-weight: 700;
    margin-top: 2rem;
}

.explore {
    font-size: 28px;
    font-weight: 700;
    text-decoration: underline;
}

.whale {
    max-width: 500px;
    height: auto;
    border-radius: 5px; 
}



/*Visit*/






/*Exhibitions*/





/*Contribution*/






/*Educate*/





/*About Us*/

.exhibits {
    width: 707px;
    height: auto;
    align-items: center;
}



/*Contact Us*/






/*Privacy Policy/Terms&Conditions*/



